@model OneArticleViewModel

@{
    ViewBag.Title = Model.Article.Title;
    ViewBag.Description = Model.Article.Description;
    ViewBag.Keywords = $"{Model.Article.Tags?.Replace(',', ' ')}";
}

<! -- Top -->
<div class="jumbotron text-white text-center top">
    <div class="container">
        <h1 class="text-uppercase top-header">Odkryj <span class="text-warning">niesamowitą stronę</span> o kinie</h1>
        <h5 class="text-white">Najlepszy blog o filmach i serialach</h5>
    </div>

</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 text-center">
                <h2 class="title-article">@Model.Article.Title</h2>

                @if (!String.IsNullOrEmpty(Model.Article.Image))
                {
                    var imagePath = $"/Image/{Model.Article.Image}";
                    <img src="@imagePath" class="img-fluid img-article" />
                }

                <p class="article-body">@Html.Raw(Model.Article.Body)</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="search text-center">
                    <h3 class="text-center text-uppercase search-header">Wyszukaj</h3>
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <input type="text" name="search" placeholder="Wyszukaj" class="search-input" />
                        <input type="submit" value="Wyszukaj" class="btn btn-warning search-button" />
                    </form>
                </div>

                <div class="content-item text-center">
                    <h3 class="text-center text-uppercase category-header">Kategorie</h3>
                    @foreach (var cat in Model.Categories)
                    {
                        <div>
                            <a asp-controller="Home" asp-action="Index" asp-route-category="@cat.ID">
                                <p class="category-item">@cat.Name</p>
                            </a>
                        </div>
                    }
                </div>

                <div class="content-item text-center">
                    <h3 class="text-center text-uppercase last-added-header">Ostatnio dodane artykuły</h3>

                    @foreach (var item in Model.Articles.Take(10))
                    {

                        <a asp-controller="Home" asp-action="Article" asp-route-id="@item.ID">
                            <p class="last-added-article">@item.Title</p>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <div class="comment-section">
                        @foreach (var item in Model.Article.Comments)
                        {
                            <span class="text-primary">@item.Username</span>
                            <p class="comment-message"> @item.Message --- <strong>Dodano: </strong><span class="text-danger">@item.Created</span></p>
                        }

                        @{
                            await Html.RenderPartialAsync("_CommentPartialView", new CommentViewModel { ArticleID = Model.Article.ID });
                        }
                    </div>
                    }
                    else
                    {
                        <div>
                            <span class="comment-blocked">Żeby skomentować ten artykuł, </span><a asp-controller="Account" asp-action="Login"><span class="comment-blocked text-danger">Zaloguj się.</span></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="page-footer bg-dark text-center text-white">
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright
    </div>
</footer>





